.main{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.create{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.posts{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
}

.post{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.avatar{
    height: 35px;
    width: 35px;
    background: yellowgreen;
    border-radius: 100%;
}
